@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

h1{
  font-size: 50px;
  font-size: px;
  width: px;
  height: 30px;
  padding: 100px;
  padding-bottom: px;
}

h2{
  width: px;
  height: 30px;
  text-align: left;
  padding: 50px;
}

body{
  height: 1000px;
}

legend{
  font-size: 30px;
}

table{
  border: 1px;
}

tr{
  border: 1px solid black;
}

td{
  border: 1px solid black;
}

li {
  list-style-type: none;
}

.form-control {
  width: 400px;
  margin: auto;
}

#registration {
  margin-top: 100px;
}

.pizza {
  margin: auto;
}

.check {
  width: 40px;
}

.back {
  margin-bottom: 10px;
}

.buttonOfOrder, .buttonOfRegistration {
  font-size: 30px;
  width: auto;
  height: 60px;
  margin-top: 30px;
}

.end {
  width: 400px;
  height: auto;
  padding: 20px;
  margin: auto;
}