h1{
  font-family: fantasy;
  font-size: 50px;
  font-size: px;
  width: px;
  height: 30px;
  text-align: center;
  padding: 100px;
  padding-bottom: px;
}

h2{
  width: px;
  height: 30px;
  text-align: left;
  padding: 50px;
}

li{
  padding: 5px;
}

body{
  height: 1000px;
}

.buttonOfRegistration{
  font-family: fantasy;
  font-size: 100px;
  text-align: center;
  width: 1000px;
  height: 300px;
  padding: px;
}

.buttonOfOrder{
  font-family: fantasy;
  font-size: 100px;
  text-align: center;
  width: 1000px;
  height: 300px;
  margin-top: 30px;
}
